- provide(:title, "Forums")
= content_for :stylesheet, stylesheet_link_tag("forums")

.forums-container
  .forum-header
    %h1 Announcements

  .forum-header
    %h1 General Transit

  .forum-header
    %h1 Off Topic
